.projects {
  margin: var(--header-height) 0 0;
  /* padding: 0 var(--space-md); */
  /* overflow: hidden auto; */
  /* overflow: hidden; */
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.projectsContainer {
  padding: 0 var(--space-md) var(--space-md);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--space-sm);
  overflow: auto;
  height: calc(100dvh - var(--header-height));
}