.preloader {
  --transition-delay: 0.6s;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100dvh;
  background-color: var(--color-primary);
  color: var(--color-reverse);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  pointer-events: none;
  transition: opacity var(--anim-lg) var(--transition-delay);
}

.preloader.hidden {
  opacity: 0;
}

.preloader .preloaderContent {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  translate: 0 0px;
  opacity: 1;
  transition: translate var(--anim-lg) var(--transition-delay), opacity var(--anim-lg) var(--transition-delay);
}

.preloaderContent svg {
  width: var(--icon-sm);
}

.preloader.hidden .preloaderContent {
  opacity: 0;
  translate: 0 -20px;
}