.header {
  /* padding: var(--space-md) var(--space-md) 0; */
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: var(--header-height);
  /* height: var(--header-height); */
  max-height: var(--header-height);
  z-index: 999;
  background-color: transparent;
  transition: background-color var(--anim-sm), color var(--anim-sm), max-height var(--anim-sm);
}

.header.menuOpen {
  max-height: 100dvh;
  background-color: var(--color-light);
  color: var(--color-ink);
  transition: background-color var(--anim-sm), color var(--anim-sm), max-height var(--anim-sm);
}

.headerInner {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: var(--space-sm);
  flex-grow: 0;
  max-height: calc(var(--header-height) - var(--space-md) * 2);
  flex: 0 0 calc(var(--header-height) - var(--space-md) * 2);
  z-index: 1;
  margin: var(--space-md) var(--space-md) 0;
  margin-bottom: var(--space-sm);
}

.menuButton {
  border-radius: 0px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  padding: 0;
  overflow: hidden;
  align-self: stretch;
  border-color: currentColor;
  background-color: transparent;
  color: inherit;
  margin: 0;
}

.menuButton:hover {
  border-color: currentColor;
  background-color: transparent;
}

.menuButton:focus,
.menuButton:focus-visible {
  outline: none;
}

.header.menuOpen .menuButton {
  color: var(--color-ink);
}

.menuButton .hamburger {
  padding: var(--space-2xs) 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  justify-content: center;
  align-items: stretch;
  flex: 0 0 auto;
  margin: 0;
  min-height: 0%;
}

.menuButton .hamburgerLine {
  height: 1px;
  background-color: currentColor;
}

.menuButton .menuOpenText,
.menuButton .menuCloseText {
  writing-mode: vertical-lr;
  text-orientation: upright;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  opacity: 1;
  translate: 0 0%;
  transition: opacity var(--anim-sm), translate var(--anim-sm), flex-basis var(--anim-sm);
}

.menuButton:hover .menuOpenText,
.header.menuOpen .menuButton:hover .menuOpenText,
.menuButton:hover .menuCloseText,
.header.menuOpen .menuButton:hover .menuCloseText {
  flex-basis: 50%;
  opacity: 0;
  transition: opacity var(--anim-sm), translate var(--anim-sm), flex-basis var(--anim-sm);
}

.menuButton .menuCloseText,
.header.menuOpen .menuButton .menuOpenText {
  flex-basis: 0%;
  opacity: 0;
  flex-grow: 0;
}

.menuButton .menuOpenText,
.header.menuOpen .menuButton .menuCloseText {
  flex-basis: 100%;
  opacity: 1;
  flex-grow: 1;
}

.menuButton:hover .menuOpenText,
.menuButton:hover .menuCloseText {
  opacity: 0;
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}

.headerText {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--space-md);
}

.headerTitle {
  color: inherit;
}

.headerInfo {
  text-align: justify;
  flex-basis: 50%;
  max-width: var(--sidebar-width);
}

.heroBorder {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: var(--space-sm);
  overflow: hidden;
}

.heroBorder p {
  flex: 0 0 auto;
}

.heroBorder svg {
  flex-shrink: 1;
  flex: 1 0 100%;
}

.navigationMenu {
  /* flex-grow: 0;
  flex-basis: 0%; */
  /* flex: 0 1 100%; */
  /* max-height: 0; */
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
  flex-wrap: wrap;
  overflow: hidden auto;
  gap: var(--space-2xl);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--anim-sm);
  /* padding-bottom: var(--space-md); */
  padding: 0 var(--space-md) var(--space-md);
}

.header.menuOpen .navigationMenu {
  opacity: 1;
  pointer-events: all;
  /* max-height: calc(100dvh - var(--header-height)); */
  /* flex-basis: 100%; */
  /* flex-grow: 1; */
}

.navProjects {
  flex: 1 1 50%;
  max-width: 100%;
}

.navProjectItem {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  color: inherit;
  gap: var(--space-xs);
  padding: var(--space-sm) 0;
  border-bottom: 1px solid var(--color-ink);
  /* transition: padding var(--anim-short); */
}

.navProjectItem:hover {
  /* background-color: var(--color-primary); */
  color: var(--color-primary);
  /* padding: var(--space-sm) var(--space-sm); */
}

.navProjectImage {
  min-width: 0px;
  flex: 0 1 15%;
  /* aspect-ratio: 4 / 5; */
  border-radius: var(--radius-sm);
}

.projectText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--space-3xs);
}

.navProjectItem svg {
  width: 12px;
}

.navInfo {
  flex: 1 0 20%;
  max-width: var(--sidebar-width);
  position: sticky;
  top: 0;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--space-2xs);
}

.link {
  color: inherit;
  border: 1px solid var(--color-ink);
  border-radius: var(--radius-rounded);
  padding: var(--space-3xs) var(--space-xs);
}

.link:hover {
  background-color: var(--color-ink);
  color: var(--color-reverse);
}

@media screen and (max-width: 700px) {
  .headerText {
    flex-direction: column;
    gap: var(--space-2xs);
  }
}