/* @font-face {
  font-family: 'Picaflor';
  src: url('./assets/fonts/Picaflor-36pt.woff2');
  font-weight: 400;
} */

@font-face {
  font-family: 'Dragon';
  src: url('./assets/fonts/Dragon-BlackInktrap.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/fonts/PPNeueMontreal-Book.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/fonts/PPNeueMontreal-Light.otf');
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Neue Montreal', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-reverse);
  background-color: var(--color-ink);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-familiy-primary: 'Dragon', Georgia, serif;
  --font-family-secondary: 'Neue Montreal', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --space-3xs: 2px;
  --space-2xs: 5px;
  --space-xs: 10px;
  --space-sm: 15px;
  --space-md: 20px;
  --space-lg: 30px;
  --space-xl: 40px;
  --space-2xl: 60px;

  --color-primary: #c85a2b;
  --color-secondary: #E8D52E;
  --color-ink: #222124;
  --color-subdued: #34333B;
  --color-light: #EFEBC5;
  --color-reverse: #FFFCDE;

  --radius-sm: 8px;
  --radius-lg: 12px;
  --radius-rounded: 100vw;

  --anim-easing: cubic-bezier(0.22, 1, 0.36, 1);
  --anim-sm: 0.3s var(--anim-easing);
  --anim-md: 0.6s var(--anim-easing);
  --anim-lg: 1.2s var(--anim-easing);

  --icon-sm: 10px;

  --header-height: 140px;

  --sidebar-width: 300px;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
  transition: color var(--anim-sm);
}
a:hover {
  color: var(--color-secondary);
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-family: var(--font-familiy-secondary);
}

h1,
.h1 {
  font-family: var(--font-familiy-primary);
  font-size: 60px;
  line-height: 0.9;
  margin: 0;
}

h2,
.h2 {
  font-family: var(--font-familiy-primary);
  font-size: 64px;
  line-height: 0.8;
  margin: 0;
}

h3,
.h3 {
  font-family: var(--font-familiy-primary);
  font-size: 42px;
  line-height: 0.9;
  margin: 0;
}

h6,
.h6 {
  font-family: var(--font-familiy-secondary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0 0 1em;
}

.utility {
  font-family: var(--font-familiy-secondary);
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
}

button {
  /* border-radius: var(--radius-sm); */
  border: 1px solid transparent;
  padding: var(--space-xs) var(--space-xs);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  flex-direction: row;
}
button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button svg {
  width: 12px;
}

@media (prefers-color-scheme: light) {
}
